.app {
    width: 1200px;
    padding-top: 50px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        'header header'
        'navbar main';
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 120px 1fr;
    grid-gap: 10px;
}

.mainWrapperContent {
    color: green;
    grid-area: main;
    background-color: #F2F5C8;
    border-radius: 10px;
}

.mainWrapperContent a {
    text-decoration: none;
}